# GCP / BigQuery
GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_LOCATION=EU
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/your/service-account.json

# BigQuery datasets
BQ_RAW_OLIST_DATASET=raw_olist
BQ_RAW_EXT_DATASET=raw_ext
BQ_STAGING_DATASET=staging
BQ_INTERMEDIATE_DATASET=intermediate
BQ_MARTS_DATASET=marts

# Business scope
DEFAULT_COUNTRY_CODE=BR

# Holiday API
NAGER_COUNTRY_CODE=BR

# Weather API
OPENWEATHER_API_KEY=your-openweather-api-key
OPENWEATHER_LATITUDE=-23.5505
OPENWEATHER_LONGITUDE=-46.6333
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=en
OPENWEATHER_TIMEZONE=America/Sao_Paulo

# Project
PROJECT_NAME=marketplace-analytics-platform
ENVIRONMENT=local
LOG_LEVEL=INFO
