# GCP / BigQuery
GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_LOCATION=EU
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/your/service-account.json

# BigQuery datasets
BQ_RAW_OLIST_DATASET=raw_olist
BQ_RAW_EXT_DATASET=raw_ext
BQ_STAGING_DATASET=staging
BQ_INTERMEDIATE_DATASET=intermediate
BQ_MARTS_DATASET=marts
BQ_SNAPSHOTS_DATASET=snapshots

# Business scope
DEFAULT_COUNTRY_CODE=BR

# Holiday API
NAGER_COUNTRY_CODE=BR

# Weather API
OPENWEATHER_API_KEY=your-openweather-api-key
OPENWEATHER_LATITUDE=-23.5505
OPENWEATHER_LONGITUDE=-46.6333
OPENWEATHER_LOCATION_KEY=sao_paulo
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=en
OPENWEATHER_TIMEZONE_OFFSET=-03:00
OPENWEATHER_MAX_CALLS_PER_RUN=900

# Project
PROJECT_NAME=marketplace-analytics-platform
ENVIRONMENT=local
LOG_LEVEL=INFO

# Metabase local runtime
METABASE_VERSION=v0.50.36
METABASE_PORT=3000
METABASE_SITE_NAME=MerchantPulse
METABASE_ADMIN_EMAIL=admin@example.com
METABASE_JAVA_TIMEZONE=UTC
METABASE_DB_NAME=metabaseappdb
METABASE_DB_USER=metabase
METABASE_DB_PASS=metabase
METABASE_DB_HOST=metabase-postgres
METABASE_DB_PORT=5432
